.page_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.logo{
    width: 180px;
    margin-bottom: 100px;
}

.panel_content{
    display: flex;
    /* justify-content: space-between; */
    /* background-color: aquamarine; */
    width: 1280px;
}

@media screen and (max-width: 1204px){
    .page_content{
        padding: 50px;
    }
    
    .logo{
        width: 180px;
        margin-bottom: 50px;
    }

    .panel_content{
        width: 1024px;
        flex-wrap: wrap;
        justify-content: center;
        /* background-color: aquamarine;  */
    }
}

@media screen and (max-width: 640px){
    .panel_content{
        width: 640px;
        flex-wrap: wrap;
        justify-content: center;
        /* background-color: red;  */
    }
}